.x-selectable, .x-selectable * {
    -moz-user-select: text!important;
    -khtml-user-select: text!important;
}
.message-entry-box{
    
}
.x-grid3-dirty-cell {
     background-image:none;
}
p.mymessage{
    text-indent: -20px;
    margin-left: 20px;
}
td.x-grid3-td-message {
    overflow: hidden;
}
td.x-grid3-td-message div.x-grid3-cell-inner {
    white-space: normal;
}
.bigger-font {
    font-size: 30px !important;
}
.buddy-online {
    background-image: url(icons/available.png) !important;
}
.buddy-offline {
    background-image: url(icons/person.png) !important;
}
.buddy-away {
    background-image: url(icons/away.png) !important;
}
.chatroom-icon {
    background-image: url(icons/chat.png) !important;
}
.new-tab{
  background-image:url(icons/new_tab.gif)  !important;
}
.typing-tab{
  background-image:url(icons/typing.png)  !important;
  color : #FF0000 !important;
}
.paused-tab{
  color : #A99C0D !important;
}
.tabno{
}
.author-me {
    font-weight: bold;
}
.author-chatpartner {
    font-weight: bold;
}
.author-nws {
    font-weight: bold;
}
.author-default {
    font-weight: bold;
}
