*.log
*.tmp
*.swp
.env
.env.local
*.env.*
.vscode/
.idea/
*.pickle
.coverage
coverage.xml
config/weather-im_secrets.inc
# rsync from another repo attm
/html/live
/iembot/logs
config/settings.inc.php
/iembot/iembot.pid
/iembot/settings.json